.App {
  background-color: #282c34;
  min-height: 100vh;
}

.App-header {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  background-color: #6e798f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 0px 50px;
  padding: 0px 50px;
}

.monster-grid-item {
    padding: 5px;
}

.monster-grid-title {
    padding-left: 15px;
}

.monster-grid-button {
  text-align: center;
}
.monster-grid-info {
  text-align: center;
}

.App-link {
  color: #61dafb;
}
