.App {
  background-color: #282c34;
  min-height: 100vh;
}

.App-header {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  background-color: #6e798f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 0px 50px;
  padding: 0px 50px;
}

.inventory {
    min-height: 400px;
    margin-top: 20px;
}

.recipe-section {
    border: 1px solid black;
    margin: 15px !important;
}

.recipe-section-title {
    color: #000;
    background-color: #bcc4cf;
    padding: 20px;
    margin-left: -15px;
}

.tooltip-tree {
    max-width: 80%;
    max-height: 80%;
    overflow-y: auto;
    background-color: #bcc4cf;
    border: 1px solid black;
    padding: 50px;
}

.tree-img {
    margin-top: 30px !important;
    width: 40px;
    height: 40px;
}

.tree-item {
    margin: 20px !important;
    padding: 20px !important;
    min-width: 200px;
    border: 1px solid black;
}

.item-completed {
    background-color: #bdeb88;
}

.item-missing {
    background-color: #de7a73;
}

.item-unsure {
    background-color: #bcc4cf;
}

.monster-combo-box {
    min-height: calc(10px + 20vh);
}

.monster-grid-item {
    padding: 5px;
    background-color: #bcc4cf;
}

.combo-grid-missing {
    padding: 5px;
    background-color: #bcc4cf;
}

.combo-grid-completed {
    padding: 5px;
    background-color: #bdeb88;
}

.monster-grid-title {
    padding-left: 15px;
}

.monster-grid-button {
  text-align: center;
}

.monster-grid-button button{
  padding: 0px;
}

.success {
  color: #6a824e;
}

.success-light {
    color: #bdeb88;
}

.monster-grid-combo-button {
  margin-left:5px;
  margin-top:-15px;
}

.monster-grid-combo-remove-button {
  color: #de7a73;
}

.monster-grid-info {
  text-align: center;
}

.monster-image {
    margin: auto;
}

.recipe-container {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    padding-left: 20px;
}

.reward-icon {
    height: 40px;
    width: 40px;
}

.App-link {
  color: #61dafb;
}
